@import "components";
body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: @open-sans;
	#sec1{
		width: 100%;
		background-color: #cdcdcd;
		background-image: url('../img/1.png');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		.container-1120{
			.header{
				border-bottom: 1px solid #fff;
				padding-top: 1rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				.contacts{
					display: flex;
					
					.icon{
						margin-right: 0.5rem;
					}
					.text{
						.number{
							color: #006837;
							font-family: @open-sans;
							font-size: 30px;
						    font-weight: 800;
						    line-height: 36px;
						    span{
						    	font-size: 20px;
						    	line-height: 24px;
						    }
						}
						.questions{
							color: #EC6504;
							font-size: 14px;
							font-weight: 700;
							text-align: right;
						}
					}
				}
			}
			.info1{
				display: flex;
				flex-direction: column;
				.text{
					width: 100%;
					h1{
						text-align: center;
						font-size: 46px;
						font-weight: 700;
						margin-top: 1rem;
						margin-bottom: 0;
						padding-top: 0;
					}
					h3{
						text-align: center;
						font-size: 27px;
					}
					#rules{
						text-align: left;
					}
					ul{
						margin-left: 0;
						padding-left: 0;
						li{
							font-size: 18px;
							line-height: 22px;
							font-weight: 700;
							list-style: none;
							margin: 0;
							padding: 0;
							img{
								float: left;
								margin-right: 0.5rem;
							}
						}
					}
				}
				.button{
					display: flex;
					align-self: flex-end;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.btn{
						display: block;
						text-decoration: none;
						background-color: #39b54a;
						border-radius: 40px;
						box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
						color: #ffffff;
					    font-family: open-sans,sans-serif;
					    font-size: 20px;
					    font-weight: 700;
					    line-height: 56px;
					    min-height: 60px;
					    text-align: center;
					    transition-delay: 0s;
					    transition-duration: 0.6s;
					    transition-timing-function: ease;
					    width: 300px;
					}
					.arrow{
						width: 90px;
					}
				}
			}
		}
	}
	#sec2{
		margin-top: 2.5rem;
		.header{
			font-size: 39px;
			font-weight: 700;
			line-height: 47px;
			text-align: center;
			span{
				color: #009245;
			}
		}
		.body{
			margin-top: 2.5rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.item{
				width: 50%;
				margin-top: 60px;
				display: flex;
				img{
					width: 140px;
					height: 140px;
				}
				.container{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-left: 1rem;
					.title{
						color: #3a3a3a;
						font-size: 20px;
					    font-weight: 700;
					    line-height: 24px;
					}
					.description{
						ul{
							margin: 0;
							padding: 0;
							li{
								list-style: none;
								font-size: 17px;
							    font-weight: 400;
							    line-height: 20px;
							}
						}
					}
				}
			}
		}
	}
	#sec3{
		margin-top: 3rem;
		background-image: url("../img/bg-1.jpg");
		background-repeat: repeat-y;
		padding-bottom: 2rem;
		.title{
			color: #fff;
			font-size: 39px;
			font-weight: 700;
			line-height: 47px;
			text-align: center;
			padding-top: 2rem;
		}
		.workers{
			display: flex;
			flex-wrap: wrap;
			.worker{
				width: 33%;
				padding-top: 3rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.name{
					color: #fff;
					font-size: 20px;
					line-height: 24px;
					font-weight: 700;
					margin-top: 1rem;
				}
				.job{
					color: #fff;
					font-size: 17px;
					line-height: 20px;
					font-weight: 400;
					margin-top: 1rem;
				}
			}
		}
	}
	#sec4{
		background-image: url("../img/sec4-bg.jpg");
		background-repeat: repeat;
		.bg{
			min-height: 720px;
			background-image: url("../img/sec4.png");
			background-position: center top;
			background-size: cover;
			.container-960{
				display: flex;
				flex-direction: column;
				.text{
					margin-top: 2rem;
					align-self: flex-start;
					font-size: 37px;
					font-weight: 700;
					line-height: 44px;
					text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
					color: #fff;
					span{
						color: #ff4a00;
					}

				}
				.requiest{
					align-self: flex-end;
					width: 30%;
					// margin-top: 2rem;
					a{
						display: block;
						background-color: #ff4a00;
					    border-radius: 40px;
					    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
					    color: #ffffff;
					    font-size: 20px;
					    font-weight: 700;
					    line-height: 56px;
					    margin-top: 7px;
					    min-height: 60px;
					    text-align: center;
					    text-decoration: none;
					}
					.arrow{
						img{
							transform: rotate(-90deg);
						}
					}
				}
			}
		}
	}
	#sec5{
		background-image: url("../img/sec5.png");
		background-size: cover;
		background-position: center;
		min-height: 714px;
		.container-960{
			.title{
				padding-top: 3rem;
				color: #323232;
				font-size: 49px;
				font-weight: 700;
				line-height: 59px;
				text-align: center;
			}
			.list{
				margin-top: 3rem;
				width: 60%;
				ul{
					margin: 0;
					padding: 0;
					li{
						list-style: none;
						font-size: 22px;
						font-weight: 400;
						line-height: 26px;
						color: #3a3a3a;
						padding-top: 2rem;
					}
				}
			}
		}
	}
	#sec6{
		background-image: url("../img/bg-1.jpg");
		background-repeat: repeat-y;
		min-height: 378px;
		.container-960{
			.title{
				padding-top: 2rem;
				color: #fff;
				font-size: 29px;
				font-weight: 700;
				text-align: center;
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					display: flex;
					justify-content: flex-start;
					list-style: none;
					margin-top: 2rem;
					color: #fff;
					font-size: 22px;
					font-weight: 400;
					line-height: 26px;
					img{
						margin-right: 1rem;
					}
				}
			}
		}
	}
}